<ion-content style="--padding-top:55px">
  <ion-grid>
    <ion-row *ngIf="noData">
      <ion-col>
        <ion-card class="ion-no-border">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-item lines="none">
                <ion-label><b>Brak dostaw</b></ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-text color="danger" text-center> 
                  <h2>Brak przyjętych dostaw! Rozpocznij od przyjęcia nowej dostawy</h2>
              </ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf=!noData>
      <ion-col>
        <ion-text>
          <h2 class="ion-margin"><b>Historia Przyjęć</b></h2>
        </ion-text>
        <ion-list>
          <ion-item *ngFor="let delivery of loadedASNs" [routerLink]="['/delivery/display/' +  localStorageKeyData.userId + '/' + delivery.key]" lines="none">
            <ion-icon name="cube" slot="start"></ion-icon>
            <ion-label margin>
              <b>{{ delivery.ASN }}</b>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>