<ion-content style="--padding-top:65px">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-item lines="none" text-center>
                    <ion-label><b>Witamy na stronie startowej</b></ion-label>
                </ion-item>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none">
                <ion-icon name="arrow-back" slot="start"></ion-icon>
                <ion-text>Menu znajduje się w niebieskim panelu w górnym lewym rogu</ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>